<% 
	birthdate = @person.birthdate.to_s
	   noUTC = birthdate[0, birthdate.length - 13] 
%>
<table border = 1>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Date of Birth</th>
		<th>Numerology result</th>
	</tr>
	<tr>
		<td width = 100><%= @person.first_name %></th>
		<td width = 100><%= @person.last_name %></td>
		<td><%= noUTC %></td>
		<td width = 500><%= @message %></td>
	</tr>
</table>
