<! DOCTYPE HTML>
<HTML>
<HEAD>
    <meta charset="utf-8">
    <title>My Numerology App</title>
</HEAD>
<BODY>
    <div class="container">
    <div class="header">
        <h1>Numerology Calculator <small>A Skillcrush Project</small></h1>
    </div>
 
    <hr />
        <%= yield %>
    </div>
</BODY>
</HTML>